
/*/////////////////////////////////////////////////////////*/
.single__nft-img{
    border-radius: 8px;
}

/*/////////////////////////////////////////////////////////*/
.single__nft__content h2{
    color: #fff;  
}

/*/////////////////////////////////////////////////////////*/

.nft__creator{
    margin-top:1rem;
    background: #343444;
    padding: 20px;
    border-radius: 7px;
    width: 50%;
}

.creator__img{
    width: 40px;
    height: 40px;
}

.creator__detail p {
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}

.creator__detail h6{
    color: #fff ;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

/*/////////////////////////////////////////////////////////*/

.nft__spec{
    color: #fff;
}

.nft__price ,.category, .cre_date{
    margin-top: 10px;
}

.nft__price{
    font-size: 2rem;
    font-weight: 100;
}

.nft__price span{
    font-size: 2.5rem;
    font-weight: 500;
}

.category, .cre_date{
    font-size: 1.1rem;
    font-weight: 100;
}

.category span, .cre_date span{
    font-size: 1.5rem;
    font-weight: 500;
}

/*/////////////////////////////////////////////////////////*/ 

.singleNft-btn {
    padding: 8px 25px;
    background: #5142FC;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleNft-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.singleNft-btn:hover{
    background: #fff;
}

.singleNft-btn:hover a{
    color: #5142fc;
}

.singleNft-btn i {
    color: #fff;
}

.singleNft-btn:hover i{
    color: #5142fc;
}

@media only screen and (max-width: 991px){
    .single__nft__content h2{
        font-size: 1.3rem;
    }

    .single__nft__content p {
        font-size: 0.8rem;
        line-height: 28px;
    }

    .nft__creator{
        width: 100%;
    }

    .singleNft-btn a{
        font-size: 0.7rem;
    }

    .nft__price ,.category, .cre_date{
        margin-top: 5px;
    }

    .nft__price{
        font-size: 1.6rem;
        font-weight: 100;
    }

    .nft__price span{
        font-size: 1.9rem;
        font-weight: 500;
    }

    .category, .cre_date{
        font-size: 0.9rem;
        font-weight: 100;
    }

    .category span, .cre_date span{
        font-size: 1.2rem;
        font-weight: 500;
    }
}

@media only screen and (max-width: 576px){
    .single__nft__content h2{
        margin-top: 15px;
    }

}